@font-face {
    font-family: PremierSans;
    src: url("./fonts/Premier Sans.otf");
}

@font-face {
    font-family: Coolvetica;
    src: url("./fonts/coolvetica rg.otf");
}

* {
    font-family: Coolvetica, Arial, Helvetica, sans-serif;
}

:root {
    background-color: #f6f6f6;
}

body {
    margin: 0;
}

ul{
    display: inline-flex;
	list-style: none;
    margin-block-start: 0px;
    padding-inline-start: 5px;
}

button{
	border: 1px solid black;
	border-radius: 5px;
	background-color: lightgrey;
	padding: 10px;
	margin: 5px;
	transition: background-color 0.25s;
}
button:hover{
	background-color: grey;
    cursor: pointer;
}

a {
    text-decoration: none;
	color: black;
}

h1 {
    font-weight: bold;
    color: #37003c;
}

h2 {
    font-weight: bold;
}

p {
    margin: 10px 0;
}

table {
    width: 100%;
    font-size: 18px;
    font-family: Coolvetica;
    color: #37003c;
    background-color: #fff;
    border: 1px solid #333;
    border-collapse: collapse;
}

th {
    padding: 10px;
    background-color: #fbfafa;
    font-size: 16px;
    border-bottom: .1rem solid #ebe5eb;
    border-top: 1px solid #333;
}

td {
    font-size: 22px;
    padding: 10px;
    text-align: center;
}
td:first-child, th:first-child {
    border-left: 1px solid #333;
}
td:last-child, th:last-child {
    border-right: 1px solid #333;
}

th {
    border-bottom: .1rem solid #333;
}
tr {
    border-bottom: .1rem solid #ebe5eb;
}
#main-table tr:nth-child(n+2):hover {
    cursor: pointer;
    text-decoration: underline;
}
tr:last-child {
    border: 0;
}

#top h1 {
    text-align: center;
    font-weight: 400;
    font-size: 6.1rem;
    line-height: 7.3rem;
    margin: 0;
    text-transform: capitalize;
    font-family: PremierSans;
    color: #37003c;
}

#main {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-evenly;
    align-items: flex-start;
}

#results {
    align-items: center;
}
#results h1 {
    margin: 0;
    text-align: center;
}
#results div {
    height: 500px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: stretch;
}

#main-table {
    width: 50%;
}
#main-table td:nth-child(3) {
    font-weight: bold;
    letter-spacing: 2px;
}
.gold-medal {
    background-color: gold;
}
.silver-medal {
    background-color: lightgray;
}
.bronze-medal {
    background-color: burlywood;
}

#match-result {
    min-width: 60%
}
#match-result td, #match-result th {
    white-space: nowrap;
}
.match-result-winner {
    background-color: #ffd9007a;
}

#player-stats th {
    border: .1rem solid #333;
}
.profile-photo {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    #top h1 {
        font-size: 3rem;
        line-height: 4rem;
    }
    #main {
        padding: 0;
        flex-direction: column;
        align-items: center;
    }
    #main-table {
        padding: 0;
        flex-direction: column;
        align-items: center;
        overflow-x: scroll;
    }
    #results {
        margin-top: 10px;
    }
    #match-result td, #match-result th {
        font-size: 14px;
        white-space: nowrap;
    }
    #match-result table{
        overflow-x: scroll;
    }
    #player-stats th, #player-stats td{
        font-size: 14px;
        white-space: nowrap;
    }

    table {
        width: 100%;
        overflow-x: scroll;
    }
    td {
        font-size: 16px;
        padding: 10px 0px;
        text-align: center;
    }
    th {
        padding: 10px 2px;
    }
}